@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

:root {
  /* Fonts */
  --text-font: "Space Grotesk", sans-serif;
  --title-font: "Anonymous Pro", monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: var(--text-font);
  letter-spacing: 5px;
  font-size: 3rem;
  text-align: center;
  padding: 30px 0;
  color: skyblue;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/assets/login.png) no-repeat;
  background-size: cover;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: black;
  filter: opacity(0.6);
  z-index: -1;
}

.login-container {
  width: 600px;
  background: rgba(255, 255, 255, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(238, 180, 180, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid rgba(255, 255, 255, 0.09);
}

.login-form {
  padding: 040px;
}

.tipping-box {
  position: relative;
}

.username {
  margin: 20px 0 40px 0;
}

.tipping-box input {
  color: white;
  font-family: "Special Elite", system-ui;
  letter-spacing: 4px;
  font-size: 1.2rem;
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: rgb(0, 0, 0);
}

.tipping-box label {
  color: white;
  font-family: var(--title-font);
  font-size: 1.2rem;
  letter-spacing: 2px;
  position: absolute;
  top: -28px;
  left: 5px;
}

.questions {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.questions a {
  text-decoration: none;
  color: white;
  font-family: var(--text-font);
  margin-bottom: 40px;
}

.questions button {
  font-family: var(--text-font);
  font-size: 1rem;
  color: white;
  background-color: rgb(189, 66, 172);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 40%;
  margin: auto;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.questions button:hover {
  background-color: skyblue;
  color: black;
}

@media (max-width: 400px) {
  h1 {
    font-size: 2.5rem;
  }

  .questions button {
    width: 80%;
  }
}
